<div class="container p-6 mx-auto mt-10" *ngIf="(cartService.currentCart$ | async) as cart">
    <ng-container *ngIf="cart ;else nocart">
        <ng-container *ngIf="cart.items.length >0 ; else noitemincart">
            <div class="h-auto flex flex-col items-center justify-center">
                <h1 class="text-center font-bold text-2xl">GIỎ HÀNG</h1>
                <div class="mt-6 w-full rounded-box border border-base-content/5 overflow-x-auto max-h-[450px]">
                    <table class="table table-lg table-pin-rows">
                        <thead>
                            <tr class="text-white text-center bg-amber-300">
                                <th class="rounded-tl-lg">Sản Phẩm</th>
                                <th>Đơn Giá</th>
                                <th>Số Lượng</th>
                                <th>Tổng Tiền</th>
                                <th class="rounded-tr-lg">Xoá Sản Phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of cart.items">
                                <tr class="text-center justify-items-center hover:bg-base-200">
                                    <td>
                                        <div class="flex space-x-2.5 items-center">
                                            <img class="size-12" src="{{item.imageUrl}}" alt="{{item.productName}}">
                                            <p>{{item.productName}}</p>
                                        </div>
                                    </td>
                                    <td>{{item.price | vnCurrency}}</td>
                                    <td>
                                    <button (click)="OnDecrease(item.productId)" class="items-center btn btn-ghost rounded-full fa-md"><i class="fa-solid fa-minus"></i></button>
                                        {{item.quantity}}
                                    <button (click)="OnIncrease(item.productId)" class="items-center btn btn-ghost rounded-full fa-md"><i class="fa-solid fa-plus "></i></button>
                                    </td>
                                    <td>{{item.total | vnCurrency}}</td>
                                    <td>
                                        <button (click)="OnRemoveItem(item.productId)" class="btn btn-error"><i class="fa-solid fa-trash-can fa-lg"></i> Xoá</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <hr>
            <div class="mt-5 p-6 shadow rounded-box bg-base-200">
                <h2 class="text-xl font-bold text-center">TỔNG CỘNG</h2>
                <p class="font-semibold text-lg">Tổng sản phẩm: {{cart.items.length}}</p>
                <p class="font-semibold text-lg" *ngIf="(totalCost$ | async )as total">Tổng tiền: {{total | vnCurrency}}</p>
                <div class="flex mt-5 space-x-4 justify-around">
                    <button routerLink="/products" class="btn btn-error p-5 w-1/3"><i class="fa-solid fa-arrow-left fa-xl"></i> Sản phẩm</button>
                    <button class="btn btn-success p-5 w-1/3"><i class="fa-solid fa-money-check fa-xl"></i> Thanh toán</button>
                </div>
            </div>
        </ng-container>
        <ng-template #noitemincart>
            <h1 class="text-center font-bold text-2xl">GIỎ HÀNG</h1>
            <div class="mt-6 w-full rounded-box border border-base-content/5">
                <table class="table table-lg">
                    <thead>
                        <tr class="text-white text-center bg-amber-300">
                            <th class="rounded-tl-lg">Sản Phẩm</th>
                            <th>Đơn Giá</th>
                            <th>Số Lượng</th>
                            <th>Tổng Tiền</th>
                            <th class="rounded-tr-lg">Xoá Sản Phẩm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="5" class="text-center">
                            <p class="text-lg font-semibold">Không Có Sản Phẩm Trong Giỏ Hàng</p>
                        </td>
                    </tbody>
                </table>
            </div>
        </ng-template>
        
        
    </ng-container>
    <ng-template #nocart>
        <div class="flex flex-col items-center">
            <h1 class="text-center font-bold text-2xl">GIỎ HÀNG</h1>
            <br>
            <p class="text-lg font-semibold">Không có sản phầm trong giỏ hàng</p>
            <br>
            <button routerLink="/products" class="btn btn-error p-5 "><i class="fa-solid fa-arrow-left fa-xl"></i>Thêm Sản phẩm Vào Giỏ Hàng</button>
        </div>
    </ng-template>
    
</div>

    
