<div class="container p-6 mx-auto mt-10">
    <div class="h-auto flex flex-col items-center justify-center ">
        <h1 class="text-center font-bold text-2xl">ĐĂNG NHẬP</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="mt-5">
            <div class="space-y-3.5 w-[300px]">
                <div>
                    <app-custom-input
                    (focus)="onFocus()"
                    [control]="loginForm.controls.email"
                    [label]="'Tên Đăng Nhập'"
                    [type]="'text'"
                    [placeholder]="'Email'"></app-custom-input>
                </div>
                <div>
                    <app-custom-input
                    (focus)="onFocus()"
                    [control]="loginForm.controls.password"
                    [label]="'Mật Khẩu'"
                    [type]="'password'"
                    [placeholder]="'Password'"></app-custom-input>

                </div>
            </div>
            <div *ngIf="errorMessage" class="text-red-400">
                {{errorMessage}}
            </div>
            <br>
            <hr>
            <input type="submit" value="Đăng nhập"
            [disabled]="loginForm.invalid"
            class="btn mt-5 w-full btn-success text-white"/>
            
        </form>
    </div>
</div>